

 <div style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>

<iframe [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
      </div>

<div>&nbsp;</div>
<div style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>


      <div class="form-group">
 <button class="login-btn" (click)='click()' type="submit">Re-Take Test after watching the Video</button>
 </div>
</div>
