
 <div style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>

 <div class="login-container">
   <h2 class="text-2xl font-bold text-gray-800">Welcome Back</h2>
  
    <form>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" placeholder="1234567890" required>
      </div>
      
      <button class="login-btn" (click)="click()" type="submit">Login</button>
      <div class="extra-links">
        <p><a href="#">Sign up</a></p>
      </div>
    </form>
  </div>
  </div>