<div class="card" style="text-align:center"><br /><br />
    <button pButton pRipple label="Attendance" (click)="route.navigate(['employee/attendance'])"
      [class]="isMobile?'w-full':'w-6'"></button> <br /><br />
    <button pButton pRipple label="Reports" (click)="route.navigate(['employee/reports'])"
      [class]="isMobile?'w-full':'w-6'"></button><br /><br />
    <button pButton pRipple label="Dashboard" (click)="route.navigate(['employee/dashboard'])"
      [class]="isMobile?'w-full':'w-6'"></button><br /><br />
   
  </div>