<div class="card" style="text-align:center"><br /><br />
  <button pButton pRipple label="Employees" (click)="route.navigate(['admin/employees'])"
    [class]="isMobile?'w-full':'w-6'"></button> <br /><br />
  <button pButton pRipple label="Managers" (click)="route.navigate(['admin/managers'])"
    [class]="isMobile?'w-full':'w-6'"></button><br /><br />
  <button pButton pRipple label="Dashboard" (click)="route.navigate(['admin/dashboard'])"
    [class]="isMobile?'w-full':'w-6'"></button><br /><br />
  <button pButton pRipple label="Reports" (click)="route.navigate(['admin/reports'])"
    [class]="isMobile?'w-full':'w-6'"></button><br /><br />
</div>